@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

li {
  list-style: none;
}

img {
  width: 100%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #1f4068;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
}

.header {
  height: 90px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.header .navbrand img {
  width: 50px;
}
.header ul.nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header ul.nav li:not(:first-child) {
  margin-left: 15px;
}
.header ul.nav a {
  display: block;
  color: #52575d;
  font-size: 18px;
  text-decoration: none;
}
.header ul.nav .logout {
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #e33e5a;
  color: #fff;
}
.header .menu {
  width: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  cursor: pointer;
  display: none;
}
.header .menu .line {
  border-radius: 1px;
  height: 3px;
  width: 28px;
  background-color: #52575d;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 40px;
}

.fl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.showcase {
  height: 80vh;
  background-color: #e2ebfd;
  position: relative;
}
.showcase .abstract1 {
  position: absolute;
  height: 50px;
  width: 50px;
  right: -2rem;
  top: -2rem;
  border: 8px solid #e33e5a;
  border-radius: 50%;
}
.showcase .text {
  position: relative;
}
.showcase .text::after {
  content: "";
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: #1f4068;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  filter: blur(200px);
}
.showcase .text p {
  font-size: 20px;
  color: #1f4068;
}
.showcase .text p span {
  color: #e33e5a;
}
.showcase .text h1 {
  font-size: 55px;
  font-weight: 900;
  line-height: 60px;
  margin: 15px 0;
  color: #1f4068;
}
.showcase .text h1 span.red {
  color: #e33e5a;
}
.showcase .text h1 span.light {
  font-weight: 600;
  color: #1f4068;
}
.showcase .text a.donate {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 50px;
  background-color: #1f4068;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
}
.showcase .img {
  position: relative;
  width: 500px;
  display: none;
}
.showcase .img img {
  position: relative;
  z-index: 10;
}
.showcase .img .branch {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -5rem;
  top: 0;
  background-color: #fff;
  z-index: 11;
  padding: 8px;
}
.showcase .img .branch .icon {
  height: 40px;
  width: 40px;
  background-color: #e33e5950;
  border-radius: 20px;
  color: #e33e5a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-right: 10px;
}
.showcase .img .branch .detail {
  margin-right: 15px;
}
.showcase .img .branch .title {
  font-size: 20px;
  font-weight: 700;
}
.showcase .img .branch p {
  font-size: 14px;
  line-height: 19px;
}
.showcase .img::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #e33e594d;
  border-radius: 10px;
  right: -1.5rem;
  top: -1.5rem;
}
.showcase .img::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  left: -1.5rem;
  bottom: -1.5rem;
  border: 3px solid #e33e5971;
}
.showcase .img img {
  border-radius: 10px;
}

.overview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
  min-height: 300px;
}
.overview .card {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  max-width: 200px;
  width: 100%;
  box-shadow: -10px 29px 20px -7px rgba(0, 0, 0, 0.08);
  color: #52575d;
}
.overview .card .icon {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  background-color: #52575d52;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overview .card .icon i {
  font-size: 20px;
}
.overview .card .detail h2 {
  font-weight: 900;
  line-height: 25px;
}
.overview .card .detail p {
  font-size: 20px;
  font-weight: 500;
}
.overview .card.volunteer .icon {
  background-color: #e33e592c;
  color: #e33e5a;
}
.overview .card.branch .icon {
  background-color: #2da77036;
  color: #2da771;
}
.overview .card.member .icon {
  background-color: #cfad0050;
  color: #cfae00;
}

.desc {
  margin: 3rem 0;
  position: relative;
}
.desc .fl {
  justify-content: center;
}
.desc .text {
  max-width: 700px;
  text-align: center;
  position: relative;
}
.desc .text::after {
  content: "";
  position: absolute;
  top: -50px;
  left: -12rem;
  transform: translateY(0%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 7px solid #e33e5a;
}
.desc h1 {
  color: #3b3e42;
  font-size: 45px;
}
.desc p {
  color: #52575d;
  margin: 1rem 0;
  font-size: 20px;
}
.desc .btn {
  background-color: #3b3e42;
}

.news {
  margin: 1rem 0;
}
.news .text {
  margin: 1rem 0;
}
.news .text h2 {
  color: #52575d;
}
.news .text a {
  color: #1f4068;
  text-decoration: none;
  font-size: 18px;
}
.news .list .card {
  max-width: 280px;
  margin: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: -10px 10px 20px -7px rgba(0, 0, 0, 0.08);
  text-decoration: none;
}
.news .list .card .detail {
  padding: 10px 15px;
}
.news .list .card img {
  height: 150px;
  object-fit: cover;
}
.news .list .card h2 {
  color: #52575d;
  font-size: 20px;
  font-weight: 600;
}
.news .list .card .vote {
  color: #52575d;
}
.news .list .card .vote i {
  color: #ff9419;
}
.news .list.fl {
  flex-wrap: wrap;
  justify-content: center;
}

.ambulance {
  margin: 3rem 0;
  height: 300px;
  background-color: #e2ebfd;
  text-align: center;
}
.ambulance h1 {
  font-size: 28px;
  color: #1f4068;
}
.ambulance .btn {
  color: #fff;
  background-color: #1f4068;
  margin: 1rem 0;
  font-size: 15px;
}
.ambulance .fl {
  justify-content: center;
}

.aid {
  margin: 5rem 0;
}
.aid .fl {
  justify-content: center;
}
.aid .text {
  max-width: 600px;
  text-align: center;
}
.aid .text h1 {
  font-size: 30px;
  color: #3b3e42;
}
.aid .text p {
  color: #52575d;
  margin: 1rem 0;
  font-size: 20px;
}
.aid .links {
  text-align: center;
  margin: 5rem 0;
}
.aid .links img {
  width: 150px;
}
.aid .img {
  display: none;
}

footer {
  margin: 2rem 0;
}
footer .fl {
  flex-wrap: wrap;
}
footer .footer-brand {
  max-width: 400px;
  margin: 1rem 0;
}
footer .footer-brand img {
  width: 200px;
}
footer .footer-brand p {
  font-size: 20px;
  color: #3b3e42;
  margin: 1rem 0;
}
footer .footer-brand .links a {
  margin-right: 10px;
  font-size: 25px;
  color: #3b3e42;
}
footer .other {
  max-width: 500px;
  width: 100%;
}
footer .other .title {
  font-size: 22px;
  font-weight: 700;
  color: #3b3e42;
}
footer .other li {
  margin: 10px 0;
}
footer .other a {
  text-decoration: none;
  color: #52575d;
  font-size: 18px;
}

@media (max-width: 672px) {
  .overview {
    justify-content: center;
  }

  .header .menu {
    display: block;
  }

  .header ul.nav.active {
    top: 90px;
    visibility: 1;
    opacity: 1;
  }

  .header ul.nav {
    position: absolute;
    display: block;
    width: 200px;
    right: 40px;
    top: 50px;
    padding: 0.5rem 1rem;
    margin: 0;
    border-radius: 8px;
    background-color: white;
    box-shadow: 2px 2px 15px 10px #0000000d;
    border-radius: 5px;
    z-index: 5;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    visibility: 0;
    opacity: 0;
  }
  .header ul.nav li {
    width: 100%;
    margin: 10px 0;
  }
  .header ul.nav .logout {
    text-align: center;
  }
  .header ul.nav li:not(:first-child) {
    margin-left: 0;
  }
  .header ul.nav::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    transform: rotate(45deg);
    z-index: -1;
  }
}
@media (min-width: 672px) {
  .showcase .text h1 {
    font-size: 65px;
    font-weight: 900;
    line-height: 65px;
    margin: 15px 0;
    color: #1f4068;
  }
  .showcase .text h1 span {
    color: #e33e5a;
  }
  .showcase .text p {
    font-size: 28px;
    line-height: 20px;
    font-weight: 600;
  }

  .news .list.fl {
    justify-content: space-between;
  }
}
@media (min-width: 1000px) {
  .showcase .text h1 {
    font-size: 75px;
    font-weight: 900;
    line-height: 75px;
    margin: 20px 0;
  }
  .showcase .text p {
    font-size: 25px;
    line-height: 20px;
    font-weight: 400;
  }
  .showcase .text a.donate {
    padding: 15px 25px;
  }
  .showcase .img {
    display: block;
  }

  .aid .fl {
    justify-content: space-evenly;
  }
  .aid .text h1 {
    font-size: 50px;
  }
  .aid .img {
    display: block;
    max-width: 200px;
  }
}

/*# sourceMappingURL=index.css.map */
