@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

img {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0 40px;
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
}
.header .navbrand img {
  width: 50px;
}
.header ul.nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header ul.nav li:not(:first-child) {
  margin-left: 15px;
}
.header ul.nav a {
  display: block;
  color: #52575d;
  font-size: 18px;
  text-decoration: none;
}
.header ul.nav .logout {
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #e33e5a;
  color: #fff;
}
.header .menu {
  width: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  cursor: pointer;
  display: none;
}
.header .menu .line {
  border-radius: 1px;
  height: 3px;
  width: 28px;
  background-color: #52575d;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 40px;
}

.form-container {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container .navbrand img {
  width: 50px;
}
.form-container .form {
  width: 400px;
  text-align: left;
}
.form-container .form .back {
  padding: 8px 15px;
  background-color: #c31162;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 10px 0;
}
.form-container .form h1 {
  color: #52575d;
}
.form-container .form .form-group {
  margin: 10px 0;
  text-align: left;
}
.form-container .form label {
  font-size: 17px;
  color: #52575d;
  display: block;
  margin: 5px 0;
  font-size: 18px;
}
.form-container .form input {
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #52575d48;
}
.form-container .form input:focus {
  outline: 1px solid #c31162;
  border: 1px solid #c31162;
}
.form-container .form textarea {
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #52575d48;
  resize: vertical;
}
.form-container .form textarea:focus {
  outline: 1px solid #c31162;
  border: 1px solid #c31162;
}
.form-container .form select {
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #52575d48;
  resize: vertical;
  background-color: #fff;
  cursor: pointer;
}
.form-container .form select:focus {
  outline: 1px solid #c31162;
  border: 1px solid #c31162;
}
.form-container .form button {
  background-color: #c31162;
  display: block;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #fff;
  margin: 10px 0;
  cursor: pointer;
  font-size: 18px;
}

@media (max-width: 672px) {
  .header .menu {
    display: block;
  }

  .header ul.nav.active {
    top: 90px;
    visibility: 1;
    opacity: 1;
  }

  .header ul.nav {
    position: absolute;
    display: block;
    width: 200px;
    right: 40px;
    top: 50px;
    padding: 0.5rem 1rem;
    margin: 0;
    border-radius: 8px;
    background-color: white;
    box-shadow: 2px 2px 15px 2px #0000000d;
    border-radius: 5px;
    z-index: 5;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    visibility: 0;
    opacity: 0;
  }
  .header ul.nav li {
    width: 100%;
    margin: 10px 0;
  }
  .header ul.nav .logout {
    text-align: center;
  }
  .header ul.nav li:not(:first-child) {
    margin-left: 0;
  }
  .header ul.nav::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    transform: rotate(45deg);
    z-index: -1;
  }
}

/*# sourceMappingURL=new-user.css.map */
