@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

li {
  list-style: none;
}

img {
  width: 100%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #1f4068;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
}

.header {
  height: 90px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.header .navbrand img {
  width: 50px;
}
.header ul.nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header ul.nav li:not(:first-child) {
  margin-left: 15px;
}
.header ul.nav a {
  display: block;
  color: #52575d;
  font-size: 18px;
  text-decoration: none;
}
.header ul.nav .logout {
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #e33e5a;
  color: #fff;
}
.header .menu {
  width: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  cursor: pointer;
  display: none;
}
.header .menu .line {
  border-radius: 1px;
  height: 3px;
  width: 28px;
  background-color: #52575d;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 40px;
}

.fl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.read_page {
  margin: 2rem 0;
}
.read_page a.back_btn {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 5px;
  color: #fff;
  background-color: #e33e5a;
  text-decoration: none;
  margin-bottom: 1rem;
}
.read_page img {
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}
.read_page .meta {
  margin: 15px 0;
}
.read_page .meta.fl {
  justify-content: flex-start;
  flex-wrap: wrap;
}
.read_page .meta .date,
.read_page .meta .vote,
.read_page .meta .view,
.read_page .meta .share {
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  color: #52575d;
  margin-right: 10px;
}
.read_page .meta .vote {
  font-weight: 600;
}
.read_page .meta .vote i {
  color: #ff7300;
}
.read_page .meta .date i {
  margin-right: 8px;
}
.read_page h1 {
  margin: 10px 0;
  color: #3b3e42;
}
.read_page p {
  margin: 8px 0;
  font-size: 18px;
  color: #3b3e42;
}

footer {
  margin: 2rem 0;
}
footer .fl {
  flex-wrap: wrap;
}
footer .footer-brand {
  max-width: 400px;
  margin: 1rem 0;
}
footer .footer-brand img {
  width: 200px;
}
footer .footer-brand p {
  font-size: 20px;
  color: #3b3e42;
  margin: 1rem 0;
}
footer .footer-brand .links a {
  margin-right: 10px;
  font-size: 25px;
  color: #3b3e42;
}
footer .other {
  max-width: 500px;
  width: 100%;
}
footer .other .title {
  font-size: 22px;
  font-weight: 700;
  color: #3b3e42;
}
footer .other li {
  margin: 10px 0;
}
footer .other a {
  text-decoration: none;
  color: #52575d;
  font-size: 18px;
}

@media (max-width: 672px) {
  .header .menu {
    display: block;
  }

  .header ul.nav.active {
    top: 90px;
    visibility: 1;
    opacity: 1;
  }

  .header ul.nav {
    position: absolute;
    display: block;
    width: 200px;
    right: 40px;
    top: 50px;
    padding: 0.5rem 1rem;
    margin: 0;
    border-radius: 8px;
    background-color: white;
    box-shadow: 2px 2px 15px 10px #0000000d;
    border-radius: 5px;
    z-index: 5;
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    visibility: 0;
    opacity: 0;
  }
  .header ul.nav li {
    width: 100%;
    margin: 10px 0;
  }
  .header ul.nav .logout {
    text-align: center;
  }
  .header ul.nav li:not(:first-child) {
    margin-left: 0;
  }
  .header ul.nav::after {
    content: "";
    position: absolute;
    top: -5px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    transform: rotate(45deg);
    z-index: -1;
  }

  .read_page img {
    height: 200px;
  }
  .read_page h1 {
    font-size: 25px;
    color: #52575d;
  }
  .read_page p {
    color: #52575d;
  }
}

/*# sourceMappingURL=read.css.map */
